.main-footer {
    border-bottom: 1px solid #11151A;
    background: #04080D;

    .footechlmain {
        display: flex;
        padding: 50px 87px;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .leftcntfooter {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            p {
                color: #FFF;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                max-width: 152px;
                width: 100%;
                margin-top: 15px;
                margin-bottom: 55px;
            }

            .socailiconsfooter {
                display: flex;
                align-items: center;
                gap: 5px;

                a {}
            }
        }

        .rightcntfooter {
            display: flex;
            align-items: flex-start;
            gap: 60px;

            .listitemchldfooter {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 20px;

                p {
                    color: #0571FE;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    text-transform: uppercase;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    li {

                        a {

                            color: #FFF;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

    }
}

.footer-policy {
    display: flex;
    padding: 18px 86px;

    justify-content: space-around;
    align-items: center;

    width: 100%;

    background: #04080D;

    h3 {
        color: #686B6E;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .termsfooter {
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            color: #686B6E;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }
    }
}

@media (max-width: 991px) {
    .main-footer .footechlmain {
        display: flex;
        padding: 41px 0px 54px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 46.004px;
        width: 100%;
    }

    .main-footer .footechlmain .leftcntfooter p {
        max-width: 390px;
        width: 100%;
        text-align: start;
        margin-top: 15px;
        margin-bottom: 45px;
    }

    .footer-policy {
        display: flex;
        padding: 18px 0px !important;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-wrap: nowrap;
    }
}